*{
	font-family: HelveticaNeue-Light,Arial;
	/* set the font color */
	color:white;
	padding: 0;
	margin: 0;	
}
ul li{
	list-style: none;
}
.citylist{
	background: #555;
	left: 0;
	right: 0;
	margin: auto;
	width: 375px;
}
/*.citylist .time{
	font-size: 15px;
	padding-left: 16px;
	position: relative;
    top: 2px;
}
.citylist .city{
	font-size: 30px;
	padding-left: 16px;
	position: relative;
	bottom: 19px;
}
.citylist .temp{
	font-family:
	font-size: 65px;
	height: 85px;
	position: absolute;
	right: 16px;
}
.citylist li{
	list-style-type: none;
	margin-left: -40px;
	height: 84px;
}
.citylist .city-1{
	background: linear-gradient(#718291, #617588);
}
.citylist .city-2{
	background: linear-gradient(#0b131e, #232931);
}
.citylist div{
	display: inline-block;
}
.citylist ul{
	position: relative;

	margin: 0px;
}*/
.liNight{
	background: linear-gradient(#0b131e, #232931);
}
.liDay{
	background: linear-gradient(#718291, #617588);
}
.cityList ul li{
	height: 84px;
}
.cityList ul li > div{
	display: inline-block;
}
.timeCity{
	position: relative;
	left: 16px;
	color: white;
	height: 100%;
}
.timeCity .time{
	position: relative;
	
	font-size: 15px;
}
.timeCity .city{
	position: relative;
	
	font-size: 30px;
}
 .temp{
	position: relative;
	float: right;
	right: 16px;
	font-size: 65px;
	font-family: HelveticaNeue-UltraLight;
}
/*-----------------------------------------*/
.detail{
	background: linear-gradient(#718291, #617588);
	left: 0;
	right: 0;
	margin: auto;
	width: 375px;
	height: 900px;

}
.head,.day-temp{
	text-align: center;
}
.detail .city{
	font-size: 24px;
	position: relative;
	top: 10px;
}
.detail .wea{
	font-size: 16px;
	position: relative;
	top: 11px;
}
.detail .temp{
	font-family:HelveticaNeue-UltraLight;
	font-size: 80px;
	position: relative;
	top: 12px;
}
.head p{
	margin:0;
}
/*-------------------------------------*/
.main-info .y-today{
	text-align: center;
}
.y-temp,.t-temp{
	text-align: right;
}
.table-1{
	border-bottom: 1px solid #b6c0c9;
	padding-bottom: 8px;
	position: relative;
	top: 19px;
}
.today{
	position: absolute;
	left: 10px;
}
.y-temp{
	position: absolute;
	right: 10px;
}
/*--------------------------*/
img{
	width:19px;
	height:17px;
	margin: 0;
}
.time-wea p{
	margin: 0;
}
.time-wea li{
	list-style-type: none;
	display: inline-block;
	text-align: center;
	height: 56px;
}
.time-wea{
	margin: 0;
	position: relative;
	top: 26px;
	border-bottom: 1px solid #b6c0c9;
	padding-bottom: 30px;
}
/*-------------------------------------*/
.table-2{
	//border-bottom: 1px solid #b6c0c9;
	//padding-bottom: 23px;
	position: relative;
	top: 37px;
}
.table-3{
	position: relative;
	top: 36px;
}
.table-4{
	position: relative;
	top: 36px;
}
.table-5{
	position: relative;
	top: 36px;
}
.table-6{
	position: relative;
	top: 36px;
}
.table-7{
	position: relative;
	top: 36px;
}
.table-8{
	position: relative;
	top: 36px;
}
.table-9{
	position: relative;
	top: 36px;
	border-bottom: 1px solid #b6c0c9;
	padding-bottom: 9px;
}

.day{
	position: absolute;
	left: 10px;
}
.min-temp{
	text-align: right;
	position: absolute;
	right: 10px;
}
.max-temp{
	text-align: right;
}
.wea-icon{
text-align: right;
}
/*-------------------------------------*/
.wea-broadcast{
	text-align: left;
	position: relative;
	top: 45px;
	left: 12px;
}
/*-------------------------------------*/
.day-broadcast-1{
	position: relative;
	top: 54px;
	border-top: 1px solid #b6c0c9;
	padding-top: 9px;
}
.day-broadcast-2{
	position: relative;
	top: 49px;
}
.day-broadcast-3{
	position: relative;
	top: 65px;
}
.day-broadcast-4{
	position: relative;
	top: 60px;
}
.day-broadcast-5{
	position: relative;
	top: 76px;
}
.day-broadcast-6{
	position: relative;
	top: 71px;
}
.day-broadcast-7{
	position: relative;
	top: 87px;
}
.day-broadcast-8{
	position: relative;
	top: 79px;
}
.day-broadcast-9{
	position: relative;
	top: 95px;
}
.day-broadcast-name{
	text-align: right;
	position: relative;
	right: 5px;
}
.day-broadcast-data{
	text-align: left;
	position: relative;
	left: 6px;
}
/*-----------------------------------*/
footer{
	position: fixed;
	border-top: 1px solid #b6c0c9;
	/*give the height, then we can see the scrollable */
	width: 375px;
	left: 0;
	right: 0;
	margin: auto;
	height: 42px;
	bottom: 0;
	background:#617588;
	text-align: center;

}

.left-page{
	font-size: 12px;
}
.right-page{
	font-size: 12px;
}
.dot-right{
	font-size: 14px;
}
.dot-left{
	font-size: 14px;
}


